@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
    --green-accent: #7a9e7e;
}

@theme {
    --color-primary: #212427;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .container {
        @apply mx-auto px-4;
    }

    .shell-prefix::before, .shell-prefix::after {
        @apply text-[var(--green-accent)]
    }

    .shell-prefix::before{
        @apply mr-2
    }
    .shell-prefix::after {
        @apply ml-2
    }
}
